html {
	background-color: #303030;
}

body {
	color: #303030;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 20px;
	background-color: #E7E7E7; /* F5F5F5 */

	-webkit-font-smoothing: antialiased !important;
	margin: 0;
	position: absolute;
	width: 100%;
}

.mainContent {
	margin-left: 7.5%;
	margin-top: 75px;
	margin-bottom: 40px;
	width: 85%;
	border-radius: 10px;
	z-index: 1003;
}

.footer {
	margin-left: 7.5%;
	margin-top: 10px;
	margin-bottom: 30px;
	width: 85%;
}

.tidbitsCont {
	height: 100%;
	width: 100%;
	padding: 20px 60px 30px 60px;
}

#tidbits {
	font-size: 25px;
	position: fixed;
	height: 500px;
	width: 100%;
	background-color: #303030;
	color: rgba(255, 255, 255, 1);
	-webkit-transition: all 350ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
	-moz-webkit-transition: all 350ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
	z-index: 1002;
}

#tidbits .unhide {
	margin-top: 43%;
}

.tidbitsCont .divider {
	background: rgba(255, 255, 255, 0.3);
	height: 2px;
	width: 88%;
	margin-top: -10px;
	margin-left: -5px;
	margin-bottom: 25px;
}

.tidbitsCont .title {
	font-size: 40px;
	margin-bottom: 20px;
	max-width: 40%;
	pointer-events: none;
}

.tidbitsCont .heading {
	color: rgba(255, 255, 255, 0.8);
	margin-bottom: 10px;
}

.tidbitsCont .tips {
	margin-left: 19%;
	position: absolute;
	top: 112px;
	pointer-events: none;
}

.tidbitsCont .tip {
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.7em;
	margin-bottom: 5px;
}

.tidbitsCont .colors {
	margin-left: -8px;
	pointer-events: none;
}

.tidbitsCont .colors span {
	font-size: 0.6em;
	color: rgba(255, 255, 255, 0.6);
	margin-left: 30px;
	float: left;
}

.color{
	width: 20px;
	height: 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
} 

#orange{
	background: #FF9933;
}

#blue{
	background: #339999;
} 

#red{
	background: #CC4233;
} 

#black{
	background: #303030;
	border: 1px solid #E7E7E7;
	margin-left: -1px;
} 

#grey{
	background: #E7E7E7;
} 





h1 {
	font-size: 20px;
	font-weight: 300;
	color: #fff;
}

.show {
	-webkit-transform: none !important;
	-moz-transform: none !important;
	opacity: 1 !important;
}

.dontshow {
	opacity: 0;
	transition: all 320ms ease-out;
	-webkit-transform: translate(-15px);
	-moz-transform: translate(-15px);
}

#reqHead tr {
	border: 0;
}


table > thead {
	font-size: 17px;
	border: 0px solid #303030;
}

table {
	text-align: left;
	font-size: 15px;
	font-weight: 300;
	width: 100%;
	border-collapse: collapse;
}

th, td {
	padding: 10px;
	margin: 0;
}
th {
	font-weight: 400;
}

tr {
	border-top: 1px solid #303030;
}

/*
tr:nth-child(even) {
	background-color: rgba(48, 48, 48, 0.01);
} */

.bold {
	font-weight: 700;
}

.plusRel {
	font-size: 0.7em;
	color: #f93;
	margin-left: 5px;
	float: right;
	position: relative;
	opacity: 0;
	transition: all 350ms ease-out;
	-webkit-transform: translate(0, 10px) !important;
	-moz-transform: translate(0, 10px) !important;
}

.plusAbs {
	font-size: 0.7em;
	color: #f93;
	margin-left: 5px;
	position: absolute;
	opacity: 0;
	transition: all 350ms ease-out;
	-webkit-transform: translate(0, 10px) !important;
	-moz-transform: translate(0, 10px) !important;
}

.plusshow {
	-webkit-transform: none !important;
	-moz-transform: none !important;
	opacity: 1 !important;
}



.header {
	height: 615px;
	background-color: #303030;
	position: relative;
	color: rgba(255, 255, 255, 0.5);
}


.overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(48, 48, 48, 0.6);
	border-radius: 10px 10px 0 0;

}

.welcome {
	font-size: 20px;
	position: absolute;
	left: 58px;
	top: 90px;
	transition-delay: 200ms;
}

.subLine {
	color: rgba(255, 255, 255, 0.2);
	font-size: 0.8em;
	margin-top: -2px;
	margin-bottom: 15px;
}

.totTime {
	position: absolute;
	bottom: 220px;
	left: 58px;
}

.reqUsage {
	bottom: 0;
	width: 98%;
	position: absolute;
}

.reqUsage .labelLeft{
	margin-left: 58px;
	margin-bottom: 5px;
}

.reqUsage .labelRight {
	right: 29px;
	margin-top: -28px;
	position: absolute;
}

.tooltip {
	position: absolute;
	min-width: 4em;
	min-height: 1em;
	padding: .5em;
	background: rgba(48, 48, 48, 0.8);
	color: rgba(255, 255, 255, 0.8);
	font-size: 15px;
	font-weight: 500;
	text-align: center;
	z-index: 1;
	border-radius: 3px;

}

#ctReqs {
	opacity: 0;
	transition: all 320ms ease-out;
	-webkit-transform: translate(-15px);
	-moz-transform: translate(-15px);
	height: 160px;
}

#ctReqs line {
	stroke: rgba(255, 255, 255, 0.2);
}

#ctReqs path {
	stroke: #f93;
	stroke-width: 2px;
}

#ctReqs .ct-label {
	color: rgba(255, 255, 255, 0.5);
}

#ctReqs .ct-point {
	stroke: #f93;
	margin: 20px;
}

#ctReqs .ct-point:after {
	content: '';
	width: 100px;
	height: 100px;
	background: transparent;
}


.inner span {
}


.inner h1 {
	margin-left: 53px;
	margin-top: 25px;
	font-size: 51px;
	float: left;
	/*color: rgba(255, 153, 51, 0.7);*/
}

.inner h2 {
	margin: 25px;
	margin-bottom: 10px;
	bottom: 0;
	float: left;
	font-size: 25px;
	font-weight: 600;
	position: absolute;
}

.inner h3 {
	margin: 25px;
	margin-bottom: 10px;
	bottom: 0;
	right: 0;
	font-size: 25px;
	font-weight: 500;
	float: right;
	position: absolute;
	color: #fff;
}

.inner .bold {
	font-weight: 700;
	font-size: 1.7em;
}

.inner .upper {
	position: relative;
	top: -10px;
	font-size: 0.8em;
}

.inner .explain {
	font-size: 15px;
	color: rgba(48, 48, 48, 0.8);
	opacity: 0;
	transition: all 0.15s linear;
	position: absolute;
	bottom: -55px;
	right: 15px;
}

.inner #approx {
	position: absolute;
	bottom: -35px;
	right: 15px;
	color: #303030;
	transition-delay: 250ms;
}

.inner .first {
	position: absolute;
	left: 58px;
	top: 150px;
	transition-delay: 200ms;
}

.inner .second {
	position: absolute;
	left: 33%;
	top: 150px;
	transition-delay: 200ms;
}

.inner .third {
	position: absolute;
	left: 54%;
	top: 150px;
	transition-delay: 200ms;
}

.inner .fourth {
	position: absolute;
	left: 76%;
	top: 150px;
	transition-delay: 200ms;
}


.btn {
	margin: 25px;
	border: 3px solid #303030;
	border-radius: 5px;
	padding: 10px;
	font-weight: 400;
	font-size: 25px;
	transition: all 0.1s linear;
	color: #303030;
}

.header .btn {
	color: #fff;
	border: 3px solid #fff;
	font-size: 1.2em;
}

.btn:hover {
	cursor: pointer;
	color: #fff;
	background-color: #303030;	
}

.header .btn:hover {
	cursor: pointer;
	color: #303030;
	background-color: #fff;
}

.header .progress {
	left: 58px;
	right: 58px;
	top: 129px;
	background: rgba(255, 153, 51, 0.9);
	height: 2px;
	width: 0%;
	max-width: 91.6%;
	transition: all 1s ease-out;
	position: absolute;
}

.header .divider {
	left: 58px;
	right: 58px;
	top: 129px;
	background: rgba(255, 255, 255, 0.2);
	height: 2px;
	width: 91.6%;
	position: absolute;
}

.topBorder {
	background: #f93;
	position: absolute;
	width: 0%;
	max-width: 100%;
	top: 0;
	height: 3px;
	transition: all 1s ease-out;
}

#calendar {
	padding-bottom: 20px;
	padding-left: 5%;
}

#reconfig {
	width: auto;
	right: 15px;
	font-size: 15px;
	float: right;
}

#reconfig:hover {
	border-color: rgba(204, 66, 51, 0);
	background-color: rgba(204, 66, 51, 0.8);
}

#restart {
	float: right;
	font-size: 15px;
	width: auto;
}

#restart:hover {
	border-color: rgba(204, 66, 51, 0);
	background-color: rgba(204, 66, 51, 0.8);
}

#dashboardInfo {
	float: left;
	font-size: 15px;
	width: auto;
}

#loadCal {
	width: auto;
	float: left;
	font-size: 15px;
}

#refresh {
	float: right;
	margin-right: 58px;
	margin-top: 35px;
	position: relative;
}


.dom {
	margin: 0 auto;
	position: relative;
  	left: 50%;
  	transform: translate(-50%, 0);
  	max-width: 200px;
}

.dom:hover {
	cursor: pointer;
}

.mergeBtn {
	color: rgba(48, 48, 48, 0.25);
	float: right;
	padding: 5px;
	font-weight: 400;
}

.mergeBtn:hover {
	color: rgba(48, 48, 48, 0.8);
}

.seeReqs {
	color: rgba(48, 48, 48, 0.25);
	float: right;
	margin-right: 20px;
	padding: 5px;
	font-weight: 400;
}

.seeReqs:hover {
	color: rgba(48, 48, 48, 0.8);
}

.divide {
	color: rgba(48, 48, 48, 0.25);
	float: right;
	margin-right: 2px;
	margin-left: 2px;
	padding: 5px;
	font-weight: 400;
}

.delBtn {
	font-size: 15px;
	font-weight: bold;
	color: rgba(48, 48, 48, 0.15);
	border-radius: 3px;
	float: left;
	padding: 2px 5px 2px 4px;
	margin-right: 15px;
	height: 100%;
	transition: all 0.1s linear;

}

.delBtn:hover {
	color: rgba(255, 255, 255, 0.9);
	background-color: rgba(204, 66, 51, 0.7);
	border-radius: 3px;
	cursor: pointer;
}

.minus {
	margin-bottom: -10px;
	width: 20px;
	text-align: left;
	font-size: 45px;
	color: #fff;
}

.minus:hover {
	color: rgba(255, 255, 255, 0.6);
	cursor: pointer;
}

.bar {
	width: 90%;
	min-height: 40px;
	margin: 20px 5% 20px 5%;
 	padding: 10px;
	border-bottom: 3px solid rgba(48, 48, 48, 1);
	text-align: left;

}

.bar h2 {
	margin-bottom: 0px;
	font-weight: 500;
}

.searchBar {
	font-size: 30px;
	float: right;
	margin-top: -43px;
}

.searchBar:hover {
	cursor: pointer;
}

.searchBar input {
	outline: none;
	background: transparent;
	border: none;
	margin-right: 10px;
	color: #303030;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 30px;
	text-align: center;
	width: 5em;
}

.searchBar div {
	float: right;
	margin-top: 5px;
}

.spacer {
	height: 50px;
}

.reqs #meridiem {
	color: rgba(48, 48, 48, 0.8);
	font-size: 0.8em;
	font-weight: 100;
	position: absolute;
	margin-top: -3px;
}

.requestsCont {
	margin: 25px;
	margin-top: 50px;
}


.totReqs {
	padding: 15px;
	font-weight: 500;
	float: right;
}

.showReqs {
	padding: 15px;
	font-weight: 500;
	float: left;
}

.soloReqs {
	padding: 15px;
	font-weight: 500;
	float: left;
	margin-left: 7%;
}

#soloReqs {
	color: rgba(48, 48, 48, 0.5);
}

#soloReqs:hover {
	color: rgba(48, 48, 48, 1);
	cursor: pointer;
}

.memTot {
	float: left;
	position: relative;
}

.sorter {
	margin-left: 28%;
	margin-top: 25px;
	font-size: 25px;
	font-weight: 500;
	width: 240px;
}

#sorterMonth {
	float: left;
	margin-top: 6px;
}

#sorterYear {
	float: left;
	margin-left: 20px;
	margin-top: 6px;
}

#reqPage {
	float: left;
}

#reqOptions {
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 20px;
	background-color: transparent;
	border: 0;
	float: left;
	margin-top: 10px;
	-webkit-appearance: none;
	outline: 0;
	text-align: center;
	-moz-appearance: none;

}

#reqOptions option {
	color: #303030;
}

#reqOptions:hover{
	color: rgba(48, 48, 48, 0.6);
	cursor: pointer;
}

/* remove select arrow on IE */
select::-ms-expand{
	
}

.icon-right-dir {
	float: left;
	font-size: 30px;
	margin-left: 5px;
	margin-top: 5px;
}

.icon-left-dir {
	float: left;
	font-size: 30px;
	margin-right: 5px;
	margin-top: 5px;
}

[class^="icon-"]:hover {
	cursor: pointer;
	color: rgba(48, 48, 48, 0.6);
}

[class^="icon-"][disabled] {
	color: rgba(48, 48, 48, 0.4);
}



/*

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 2px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #fff;
} */

.members {
	width: 100%;
	margin-top: 50px;
}


.mem {
	width: 90%;
	height: 40px;
	margin: 20px 5% 20px 5%;
 	padding: 10px;
	border: 4px solid rgba(48, 48, 48, 0.1);
	border-radius: 5px;
	text-align: left;
	overflow: hidden;
	-webkit-transition: all 270ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
	-moz-webkit-transition: all 270ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
	position: relative;
}

.mem:hover {
	border: 4px solid rgba(48, 48, 48, 1);
	cursor: pointer;
}

.mem .comp {
	color: #303030;
	font-weight: 500;
	font-size: 25px;
	float: left;
	position: relative;
}

.mem .leftColumn {
	top: 50px;
	position: absolute;
	left: 10px;
	font-size: 0.8em;
	font-weight: 400;
}

.mem .aliases {
	margin-top: 20px;
	position: relative;
}

.mem .emails {
	margin-top: 20px;
	position: relative;
}

.mem .months {
	position: absolute;
	float: left;
	margin-left: 31%;
	transition: all 180ms ease-out;
	opacity: 1;
	text-align: center;
	min-width: 40px;
}
.mem .months .monthAmt {
	font-size: 30px;
	font-weight: 600;
	margin-top: -10px;
}

 .mem .months .month {
 	font-size: 15px;
 	font-weight: 400;
 	margin-top: -5px;
 	color: rgba(48, 48, 48, 0.9);
 }

 .mem .emailCont {
 	position: relative;
	margin-left: 40%;
	transition: all 180ms ease-out;
	opacity: 0;
	overflow: hidden;
 }

 .mem::-webkit-scrollbar {
 	display: none;
 }

 .line {
 	width: 5%;
 	font-size: 1.5em;
 	margin-left: 34%;
 	margin-top: 1px;
 	margin-bottom: 1px;
 }