html {
	background-color: #303030;
}

body {
	color: #303030;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 20px;
	background-color: #E7E7E7; /* F5F5F5 */

	-webkit-font-smoothing: antialiased !important;
	margin: 0;
	position: absolute;
	width: 100%;

}

.mainContent {
	margin-left: 7.5%;
	margin-top: 75px;
	margin-bottom: 40px;
	width: 85%;
	border-radius: 10px;
	z-index: 1003;
}


h1 {
	font-size: 20px;
	font-weight: 300;
	color: #fff;
}

.show {
	-webkit-transform: none !important;
	opacity: 1 !important;
}

.dontshow {
	opacity: 0;
	transition: all 320ms ease-out;
	-webkit-transform: translate(-15px);
}

#reqHead tr {
	border: 0;
}


table > thead {
	font-size: 17px;
	border: 0px solid #303030;
}

table {
	text-align: left;
	font-size: 15px;
	font-weight: 300;
	width: 100%;
	border-collapse: collapse;
}

th, td {
	padding: 10px;
	margin: 0;
}
th {
	font-weight: 400;
}

tr {
	border-top: 1px solid #303030;
}

/*
tr:nth-child(even) {
	background-color: rgba(48, 48, 48, 0.01);
} */

span {
	font-weight: 700;
}

.header {
	height: 500px;
	background-color: #303030;
	position: relative;
}

.overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(48, 48, 48, 0.6);
	border-radius: 10px 10px 0 0;

}

.reqUsage {
	bottom: 0;
	width: 98%;
	position: absolute;
	color: rgba(255, 255, 255, 0.5);
}

.reqUsage .labelLeft{
	margin-left: 40px;
	margin-bottom: 5px;
}

.reqUsage .labelRight {
	right: -4px;
	margin-top: -28px;
	position: absolute;
}

.tooltip {
	position: absolute;
	min-width: 4em;
	min-height: 1em;
	padding: .5em;
	background: rgba(48, 48, 48, 0.8);
	color: rgba(255, 255, 255, 0.8);
	font-size: 15px;
	font-weight: 500;
	text-align: center;
	z-index: 1;
	border-radius: 3px;
}

#ctReqs {
	opacity: 0;
	transition: all 320ms ease-out;
	-webkit-transform: translate(-15px);
	height: 160px;
}

#ctReqs line {
	stroke: rgba(255, 255, 255, 0.2);
}

#ctReqs path {
	stroke: #f93;
	stroke-width: 2px;
}

#ctReqs .ct-label {
	color: rgba(255, 255, 255, 0.5);
}

#ctReqs .ct-point {
	stroke: #f93;
	margin: 20px;
}

#ctReqs .ct-point:after {
	content: '';
	width: 100px;
	height: 100px;
	background: transparent;
}



.inner {
}


.inner h1 {
	margin: 25px;
	font-size: 70px;
	float: left;
}

.inner h2 {
	margin: 25px;
	margin-bottom: 10px;
	bottom: 0;
	float: left;
	font-size: 25px;
	font-weight: 600;
	position: absolute;
}

.inner h3 {
	margin: 25px;
	margin-bottom: 10px;
	bottom: 0;
	right: 0;
	font-size: 25px;
	font-weight: 500;
	float: right;
	position: absolute;
	color: #fff;
}

.inner span {
	font-weight: 700;
}

.inner .explain {
	font-size: 15px;
	color: rgba(48, 48, 48, 0.8);
	opacity: 0;
	transition: all 0.15s linear;
	position: absolute;
	bottom: -55px;
	right: 15px;
}

.inner #approx {
	position: absolute;
	bottom: -35px;
	right: 15px;
	color: #303030;
	transition-delay: 250ms;
}

.btn {
	margin: 25px;
	border: 3px solid #303030;
	border-radius: 5px;
	padding: 10px;
	font-weight: 400;
	font-size: 25px;
	transition: all 0.1s linear;
	color: #303030;
}

.header .btn {
	color: #fff;
	border: 3px solid #fff;
}

.btn:hover {
	cursor: pointer;
	color: #fff;
	background-color: #303030;	
}

.header .btn:hover {
	cursor: pointer;
	color: #303030;
	background-color: #fff;
}

#calendar {
	padding-bottom: 100px;
}

#reconfig {
	width: auto;
	right: 15px;
	font-size: 15px;
	float: right;
}

#loadCal {
	width: auto;
	float: left;
	font-size: 15px;
}

#refresh {
	float: right;
	position: relative;
}

.mergeBtn {
	color: rgba(48, 48, 48, 0.15);
	float: right;
	padding: 5px;
}

.mergeBtn:hover {
	color: rgba(48, 48, 48, 0.7);
}

.delBtn {
	font-size: 15px;
	font-weight: bold;
	color: rgba(48, 48, 48, 0.15);
	float: left;
	padding: 2px 5px 2px 4px;
	margin-right: 15px;
	height: 100%;
}

.delBtn:hover {
	color: rgba(204, 66, 51, 0.7);
	cursor: pointer;
}

.minus {
	margin-bottom: -10px;
	width: 20px;
	text-align: left;
	font-size: 45px;
	color: #fff;
}

.minus:hover {
	color: rgba(255, 255, 255, 0.6);
	cursor: pointer;
}

.bar {
	width: 90%;
	min-height: 40px;
	margin: 20px 5% 20px 5%;
 	padding: 10px;
	border-bottom: 3px solid rgba(48, 48, 48, 1);
	text-align: left;

}

.bar h2 {
	margin-bottom: 0px;
	font-weight: 500;
}

.searchBar {
	font-size: 30px;
	float: right;
	margin-top: -35px;
}

.searchBar:hover {
	cursor: pointer;
}

.searchBar input {
	outline: none;
	background: transparent;
	border: none;
	margin-right: 10px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 30px;
	text-align: center;
	width: 5em;
}

.searchBar div {
	float: right;
	margin-top: 5px;
}

.spacer {
	height: 50px;
}

.requestsCont {
	margin: 25px;
	margin-top: 50px;
}


.totReqs {
	padding: 15px;
	font-weight: 500;
	float: right;
}

.showReqs {
	padding: 15px;
	font-weight: 500;
	float: left;
}

.memTot {
	float: left;
	position: relative;
}

.sorter {
	margin-left: 28%;
	margin-top: 25px;
	font-size: 25px;
	font-weight: 500;
	width: 240px;
}

#sorterMonth {
	float: left;
}

#sorterYear {
	float: left;
	margin-left: 20px;
}

#reqPage {
	float: left;
}

#reqOptions {
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 20px;
	background-color: transparent;
	border: 0;
	float: left;
	margin-top: 10px;
	-webkit-appearance: none;
	outline: 0;
	text-align: center;
}

#reqOptions option {
	color: #303030;
}

#reqOptions:hover{
	color: rgba(48, 48, 48, 0.6);
	cursor: pointer;
}

/* remove select arrow on IE */
select::-ms-expand{
	
}

.icon-right-dir {
	float: left;
	font-size: 30px;
	margin-left: 5px;
	margin-top: 5px;
}

.icon-left-dir {
	float: left;
	font-size: 30px;
	margin-right: 5px;
	margin-top: 5px;
}

[class^="icon-"]:hover {
	cursor: pointer;
	color: rgba(48, 48, 48, 0.6);
}

[class^="icon-"][disabled] {
	color: rgba(48, 48, 48, 0.4);
}



/*

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 2px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #fff;
} */

.members {
	width: 100%;
	margin-top: 50px;
}


.mem {
	width: 90%;
	height: 40px;
	margin: 20px 5% 20px 5%;
 	padding: 10px;
	border: 4px solid rgba(48, 48, 48, 0.1);
	border-radius: 5px;
	text-align: left;
	overflow: hidden;
	z-index: 1000;
}

.mem:hover {
	border: 4px solid rgba(48, 48, 48, 1);
	cursor: pointer;
}

.mem .comp {
	color: #303030;
	font-weight: 500;
	font-size: 25px;
	float: left;
	position: relative;
}

.mem .months {
	position: absolute;
	float: left;
	margin-left: 24%;
	transition: all 180ms ease-out;
	opacity: 1;
	text-align: center;
	min-width: 40px;
}
.mem .months .monthAmt {
	font-size: 30px;
	font-weight: 600;
	margin-top: -10px;
}
 .mem .months .month {
 	font-size: 15px;
 	margin-top: -5px;
 	color: rgba(48, 48, 48, 0.9);
 }

 .mem .emails {
 	position: absolute;
	float: left;
	margin-left: 40%;
	transition: all 180ms ease-out;
	opacity: 0;
 }

 .line {
 	width: 5%;
 	font-size: 1.5em;
 	margin-left: 34%;
 	margin-top: 1px;
 	margin-bottom: 1px;
 }