extends layout

block localcss
		link(rel='stylesheet', href='css/fontello.css')
		link(rel='stylesheet', href='css/dash.css')
		link(rel='stylesheet', href='http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css')

block localscripts
		script(type='text/javascript', src='js/dash.js')
		script(type='text/javascript', src='js/utility.js')
		script(type='text/javascript', src='js/renders.js')
		script(type='text/javascript', src='js/members.js')
		script(type='text/javascript', src='js/lib/moment.min.js')
		script(type='text/javascript', src='js/lib/velocity.min.js')
		script(src='http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js')

block content
	include header
	.mainContent.dontshow
		.bar
			h2.memTot
				| #[span.bold(id='memTot') 0] members
			.sorter
				#memSortLeft.icon-left-dir
				#sorterMonth
				#memSortRight.icon-right-dir
				#sorterYear
				div(style='clear: both')
			.searchBar
				input#search
				.icon-search

		#members.members
			.mem
				.comp Company
				.leftColumn
					.aliases One, Two, Three
					.emails One, Two, Three
				.months
					.monthAmt 12
					.month jan

				.seeReqs see requests
				.divide |
				.mergeBtn merge

		//- requests table
		include requests

		.spacer

	.footer 
		#loadCal.btn
			| Load Snag Calendar
		#dashboardInfo.btn
			| Dashboard Info
		#reconfig.btn
			| Re-Configure Members
		#restart.btn
			| Restart Server
		div(style='clear: both')
		#calendar
	
	//-#tidbits 
		.tidbitsCont
			.title
				| Just some tidbits.
			.divider
			.colors
				.heading Colors Used
				#blue.color
					| #[span #339999]
				#red.color
					| #[span #CC4233]
				#orange.color
					| #[span #FF9933]
				#black.color
					| #[span #303030]
				#grey.color
					| #[span #E7E7E7]
			.tips
				.heading Tips
				.tip - Click the search eye glass to automatically clear the search criteria
				.tip - Hover over any text with '...' or '@' at the end to see the full text
				.tip - Database requests time out after 30 seconds, if it's been a minute refresh the page
				.tip - All times are in Eastern Time (-4:00 GMT)
				.tip - Re-Configure clears existing Member data and reconstructs it with the requests
				.tip - Times in the request table are PM if not otherwise stated

	img.dom(src='img/dom-eyes.png')		


