extends layout

block localcss
		link(rel='stylesheet', href='css/fontello.css')
		link(rel='stylesheet', href='css/dash.css')
		link(rel='stylesheet', href='http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css')

block localscripts
		script(src='http://d3js.org/d3.v3.min.js', charset='utf-8')
		script(type='text/javascript', src='js/dash.js')
		script(type='text/javascript', src='js/utility.js')
		script(type='text/javascript', src='js/renders.js')
		script(type='text/javascript', src='js/members.js')
		script(type='text/javascript', src='js/lib/moment.min.js')
		script(type='text/javascript', src='js/lib/velocity.min.js')
		script(src='http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js')

block content
	include header
	.mainContent.dontshow
		.bar
			h2.memTot
				| #[span.bold(id='memTot') 0] members
			.sorter
				#memSortLeft.icon-left-dir
				#sorterMonth
				#memSortRight.icon-right-dir
				#sorterYear
				div(style='clear: both')
			.searchBar
				input#search
				.icon-search

		#members.members
			.mem
				.comp Company
				.aliases One, Two, Three
				.months
					.monthAmt 12
					.month jan
				.emailCont
					.emails
				.mergeBtn merge

		//- requests table
		include requests

		.spacer

	img.dom(src='img/dom-eyes.png')
	.footer 
		#loadCal.btn
			| Load Snag Calendar
		//-#config.btn
			| Dashboard Settings
		#reconfig.btn
			| Re-Configure Members
		#restart.btn
			| Restart Server
		div(style='clear: both')
		#calendar


					


