block header
	.header
		.inner
			h1.dontshow Domi Dashboard
			.welcome.dontshow
				| Welcome! Today is #[span(id='toDay') ] the #[span(id='toDate') ].
				
			.totals.dontshow
				|#[span.bold(id='totTimeHrs') 0] hours #[span.bold(id='totTimeMins') 0] minutes
				.subLine
					| Total Time Reserved
				|#[span.bold(id='westConfHrs') 0] hours #[span.bold(id='westConfMins') 0] minutes
				.subLine
					| West Conference Room
				|#[span.bold(id='eastConfHrs') 0] hours #[span.bold(id='eastConfMins') 0] minutes
				.subLine
					| East Conference Room
				|#[span.bold(id='educationHrs') 0] hours #[span.bold(id='educationMins') 0] minutes
				.subLine
					| Florida Blue Education Room

			.lasts.dontshow
				|#[span(id='lastMeetingComp') ] in the #[span(id='lastMeetingRoom') ]
				.subLine
					| Last Meeting
				|#[span(id='lastRequestComp') ] for #[span(id='lastRequestDate') ]
				.subLine
					| Last Request Received
				|#[span.bold(id='totReqsTop') 0] requests
				.subLine
					| Total Requests Taken
				|#[span.bold(id='emailSpared') 0] emails
				.subLine
					| Approximate Emails Spared
			.mostPop.dontshow
				|#[span(id='mostPopDay') Anyday]
				.subLine
					| Most Popular Meeting Day
				|Around #[span(id='mostPopTime') ]
				.subLine
					| Most Popular Meeting Time


				
			#refresh.btn.dontshow Refresh
			//-#explain.explain
				| based on a #[span 2.125] emails per request ratio
			//-#approx.dontshow
				| approximately #[span(id='emailSpared') 0] emails spared
			.reqUsage
				.labelLeft.dontshow usage in the #[span past week] by total #[span reservation hours]
				.labelRight.dontshow today
				.ct-chart#ctReqs
			div(style='clear: both')
