block header
	.header
		.inner
			h1 Dash
			#refresh.btn Refresh
			#explain.explain
				| based on a #[span 2.125] emails per request ratio
			h3#approx 
				| approximately #[span(id='emailSpared') 0] emails spared
		.overlay