block header
	.header
		.inner.dontshow
			h1.dontshow Domi Dashboard
			.welcome.dontshow
				| #[span(id='welcomeMsg') ] Today is #[span(id='toDay') ] the #[span(id='toDate') ].
			.divider
			.progress
			.first.dontshow
				|#[span(id='mostPopDay') Anyday]
				.subLine
					| Most Popular Meeting Day
				|Around #[span(id='mostPopTime') ]
				.subLine
					| Most Popular Meeting Time
				|#[span(id='lastRequestComp') ] for #[span(id='lastRequestDate') ]
				.subLine
					| Last Request Received
				|#[span(id='lastMeetingComp') ] in the #[span(id='lastMeetingRoom') ]
				.subLine
					| Last Meeting Held
			.second.dontshow
				|#[span.bold(id='totReqsTop') 0] #[span.upper requests] #[span.plusAbs.dontshow(id='totReqsPlus') ]
				.subLine
					| Total Requests Taken
				|#[span.bold(id='emailSpared') 0] #[span.upper emails] #[span.plusAbs.dontshow(id='emailSparedPlus') ]
				.subLine
					| Approximate Emails Spared
				
			.third.dontshow
				|#[span.bold(id='westConfHrs') 0] #[span.upper hours] #[span.bold(id='westConfMins') 0] #[span.upper minutes] #[span.plusRel.dontshow(id='westConfPlus') ]
				.subLine
					| West Conference Room
				|#[span.bold(id='eastConfHrs') 0] #[span.upper hours] #[span.bold(id='eastConfMins') 0] #[span.upper minutes] #[span.plusRel.dontshow(id='eastConfPlus') ]
				.subLine
					| East Conference Room
				|#[span.bold(id='educationHrs') 0] #[span.upper hours] #[span.bold(id='educationMins') 0] #[span.upper minutes] #[span.plusRel.dontshow(id='educationPlus') ]
				.subLine
					| Florida Blue Education Room

			.fourth.dontshow
				|#[span.bold(id='totTimeHrs') 0] #[span.upper hours] #[span.bold(id='totTimeMins') 0] #[span.upper minutes] #[span.plusRel(id='totTimePlus') ]
				.subLine
					| Total Time Reserved
				|#[span.bold(id='avgHours') 0] #[span.upper hour] #[span.bold(id='avgMins') 0] #[span.upper minutes]
				.subLine
					| Average Meeting Time

				
			#refresh.btn.dontshow Refresh
			.reqUsage
				.labelRight.dontshow usage in the past week by total reservation hours
				.ct-chart#ctReqs
			div(style='clear: both')
