doctype html
html
	head
		title Dash
		link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,800,700')
		block localcss

	body
		block content

		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		block localscripts
