block requests
	.requestsCont
		table#reqHead
			thead
				tr
					th Company
					th Email
					th Room
					th Date
					th Start
					th End
					th Duration

		.reqs
			table#main
				tbody
		.reqPageCont
			#reqPageLeft.icon-left-dir
			select#reqOptions
				option 0
			#reqPageRight.icon-right-dir

		.showReqs
			| Showing #[span(id='showReqs') 0]
		.totReqs
			| Total Requests: #[span(id='totReqs') 0]

